{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Image</title>
    <link rel="stylesheet" href="{%  static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mywaterfall.css' %}">
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fileinput.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script>
        $(function () {
            $('#sTab a:last').tab('show');
        })
        $('#sTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
    <script></script>
    <style>
        .jumbotron{
            background-image: url("{% static 'images/logo.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="jumbotron" align="center">
        <h1>
            <div class="div_color">
                Image Search Demo
            </div>
        </h1>
    </div>
</div>

<div class="container">
{% block content %}
{% endblock %}
</div>
<div class="container">
    {% block resultlist%}
    {% endblock %}
</div>
</body>
</html>
